.product_wrapper{
       width: 100%;
      //  padding: 0px 388px 0px 0px;
      overflow: hidden;
     
     
      .curb-image {
      position: relative;

  .curb-image_text {
    position: absolute;
    display: flex;
    align-items: center;

    p {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
    }

    .arrow-btn {
      position: absolute;
      top: 20px;
      left: 140px;
      background-color: $primaryBtnColor;
      border-radius: 50%;
      border: none;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $whiteColor;
      font-size: 24px;
    }
  }

  img{
    width: 500px;
    height: 745px;

  }
}

.rounded-image {
  img {
    border: 20px solid #f9f7e7;
    border-radius: 50%;
  }

  .card {
    background-color: #f9f7e7;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    width: 100%;

    p{
      padding: 30px;
      font-size: 16px;
      font-weight: 500;
      line-height: 2;
    }
  }
}

.all-items {
  background-color: #f9f7e7;
  padding: 20px 30px;
  border-radius: 20px;
  

  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 10px;
  }
}

}