.product_wrapper{
       width: 100%;
      //  padding: 0px 388px 0px 0px;
      overflow: hidden;
     
     
    .curb-card {
    position: relative;
    width: 40%;
    overflow: hidden;

    .curb-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

  .curb-card-text {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;

    p {
      font-size: 25px;
      font-weight: 600;
      
    }

    .arrow-btn {
      position: absolute;
      top: 10px;
      left: 140px;
      background-color: $primaryBtnColor;
      border-radius: 50%;
      border: none;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $whiteColor;
      font-size: 24px;
    }
  }

 
}

.foodCards {
    width: 60%;
    .food-card-images {
      width: 100%;
      height: 200px;

      > img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }
    }
  }

.rounded-image {
  img {
    border: 20px solid #f9f7e7;
    border-radius: 50%;
    width: 225px;
    height: 225px;
  }

  .card {
    background-color: #f9f7e7;
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 100%;
    

    p{
      padding: 30px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

.all-items {
  background-color: #f9f7e7;
  padding: 10px 50px;
  border-radius: 20px;
  

  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 10px;
  }
}

}