@import "./variables";
@import "./mixins";

.navbar-item .nav-link {
  color: $lightColor !important;

  &:hover {
    color: $secondaryBtnColor !important;
  }
}

.input-form {
  width: 300px;
  background: #041a02;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px;

  @include responsive(600px) {
    margin-top: 10px;
    width: 250px;
  }

  .input-bar {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
  }
}

.user-icon img {
  width: 24px;
  height: 24px;
  margin-top: 10px;

  @include responsive(600px) {
    margin-top: 20px;
  }
}

.cart-icon img {
  width: 50px;
  height: 50px;
  color: $secondaryBtnColor;

  @include responsive(600px) {
    margin-top: 20px;
  }
}
