.home{
    // background-image: url("/images/hero/heroBanner2.png");
    background-color: #F9F7E7;
    height: 941px;

    .auth-wrapper{
           display: flex;
           align-items: center;
           justify-content: center;
           width: 100%;
           height: 100%;
        //    padding: 20px;

      .auth-form{
            z-index: 99;
            width: 100%;
            padding:20px;
            min-height: 300px;
            background-color: $whiteColor;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            // max-width: 800px;
            border-radius: 10px;
            margin: 50px 0;

          .grid{

              .grid-left{
                    background-color: #F9F7E7;
                    border-radius: 20px;
                    border: 1px solid #FBBC05;
              }

              .grid-right{
                   
                   h1{
                      font-size: 30px;
                      font-weight: 700;
                   }
                   span{
                      color: #FBBC05;
                      font-size: 20px;
                   }
              }
          }
    
        }
    
    }

       
}