.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    // background: linear-gradient( to bottom,#27AC1F00 0%,  #27AC1F1A 10%);
    background: 
    linear-gradient(to bottom left, #27AC1F00 0%, #27AC1F1A 10%) left top,
    linear-gradient(to bottom right, #27AC1F00 0%, #27AC1F1A 10%) right top,
  white;
    background-repeat: no-repeat;
    background-size: 10% 100%, 10% 100%, 100% 100%;

  .login-form-box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 704px;
    
  }

  .login-form-details{
        text-align: center;
        margin-top: 30px;
        
        h2{ 
            font-size: 2rem;
            font-weight: bold;
        }
  }
  
      .login-form{
            color: #fef6f4 ;
            margin-top: 20px;

         .checkbox{
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            font-size: 13px;
           
         }
      }

      .login-btn{
         background-color:$primaryBtnColor ;
      }
  
}
